<div class="main-content py-0">
    <div class="d-flex justify-content-between flex-wrap col-lg-9">
        <div class="card col-md-3 col-12 mb-3 md-mt-0">
            <div class="card-body text-center d-flex flex-column">
                <span class="mat-title text-primary">Disponível</span>
                <span class="mat-title">{{totalValue | currencyValue}}</span>
            </div>
        </div>
        <div class="card col-md-3 col-12 mb-3 md-mt-0">
            <div class="card-body text-center d-flex flex-column">
                <span class="mat-title text-primary">Ganhos</span>
                <span class="mat-title text-success">{{totalReceive | currencyValue}}</span>
            </div>
        </div>
        <div class="card col-md-3 col-12 mb-3 md-mt-0">
            <div class="card-body text-center d-flex flex-column">
                <span class="mat-title text-primary">Gastos</span>
                <span class="mat-title text-danger">{{totalExpense | currencyValue}}</span>
            </div>
        </div>
    </div>
    <div class="container-fluid d-flex flex-wrap align-items-stretch">
        <div class="card col-lg-9 col-12 mb-3">
            <div class="card-header card-header-success d-flex justify-content-between">
                <h4 class="card-title">Meu Patrimônio</h4>
                <a [routerLink]="['/management']" class="card-category d-flex align-items-baseline mat-subheading-1">
                    Gerenciar Patrimônio
                    <i class="material-icons material-symbols-outlined ml-1">settings</i>
                </a>
            </div>
            <div class="card-body d-flex flex-wrap">
                <div class="row mx-0 d-flex col-md-6 custom-border-right">
                    <span class="w-100 text-center mat-title text-primary" style="height: 30px">Ganhos</span>
                    <div class="d-flex flex-column justify-content-center align-items-center w-100 h-75">
                        <canvas #receiveChart></canvas>
                        <div class="text-center mt-3" *ngIf="!hasChartData">
                            Você ainda não possui ações
                        </div>
                        <div class="text-center mt-3 w-100" *ngIf="hasChartData">
                            <div class="d-flex align-items-center mat-subheading-2 justify-content-center no-wrap-scroll" #scrollDiv1>
                                <div *ngFor="let category of categoryReceiveList" class="mx-2 d-flex align-items-center">
                                    <span class="legend-color mr-1 rounded-circle" [ngStyle]="{'background-color': getColorForCategory(category)}"></span>
                                    {{category.name}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mx-0 d-flex col-md-6">
                    <span class="w-100 text-center mat-title text-primary mb-3">Gastos</span>
                    <div class="d-flex flex-column justify-content-center align-items-center w-100 h-75">
                        <canvas #expenseChart></canvas>
                        <div class="text-center mt-3" *ngIf="!hasChartData">
                            Você ainda não possui ações
                        </div>
                        <div class="text-center mt-3 w-100" *ngIf="hasChartData">
                            <div class="d-flex align-items-center mat-subheading-2 justify-content-center no-wrap-scroll" #scrollDiv2>
                                <div *ngFor="let category of categoryExpenseList" class="mx-2 d-flex align-items-center">
                                    <span class="legend-color mr-1 rounded-circle" [ngStyle]="{'background-color': getColorForCategory(category)}"></span>
                                    {{category.name}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-12 mb-3 d-flex flex-wrap md-px-0">
            <div class="card ml-lg-3 mb-0 md-mt-0">
                <div class="card-body">
                    <div class="table-responsive" *ngIf="categoryList.length > 0">
                        <h4 class="text-primary mat-headline">Informações Relevantes no Mês</h4>
                        <p>Aqui deve ter informações do tipo: esse mês você paga a ultima parcela de x</p>
                        <p>Você receberá x de dividendos</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
