<div class="main-content py-0">
    <div class="space-between col-9">
        <div class="card col-3">
            <div class="card-body d-flex row">
                <span class="mat-title text-primary text-center col-12">Disponível</span>
                <span class="mat-title col-12 text-center">R$ {{totalValue}}</span>
            </div>
        </div>
        <div class="card col-3">
            <div class="card-body d-flex row">
                <span class="mat-title text-primary text-center col-12">Ganhos</span>
                <span class="mat-title col-12 text-center text-success">R$ {{totalReceive}}</span>
            </div>
        </div>
        <div class="card col-3">
            <div class="card-body d-flex row">
                <span class="mat-title text-primary text-center col-12">Gastos</span>
                <span class="mat-title col-12 text-center text-danger">R$ {{totalExpense}}</span>
            </div>
        </div>
    </div>
    <div class="container-fluid d-flex">
        <div class="card col-9 mb-0">
            <div class="card-header card-header-success d-flex justify-content-between">
                <div>
                    <h4 class="card-title">Meu Patrimônio</h4>
                </div>
                <div>
                    <a href="/management" class="card-category d-flex align-items-baseline mat-subheading-1">
                        Gerenciar Patrimônio
                        <i class="material-icons material-symbols-outlined ml-1">settings</i>
                    </a>
                </div>
            </div>
            <div class="card-body d-flex" style="height: 500px">
                <div class="d-flex col-6 border-right">
                    <div class="row d-flex w-100 h-100 align-items-center">
                        <span class="w-100 text-center mat-title text-primary" style="height: 30px">Ganhos</span>
                        <div class="w-50 h-75 align-self-center mat-subheading-2 flex-grow-1 d-flex flex-column justify-content-center">
                            <div *ngFor="let category of categoryReceiveList" class="my-1 d-flex">
                                <div class="d-flex justify-content-center align-items-center">
                                    <span class="legend-color mr-2" [ngStyle]="{'background-color': getColorForCategory(category)}"></span>
                                </div>
                                <div>
                                    {{category.name}}
                                </div>
                            </div>                       
                        </div>
                        <div class="chart-container w-50 h-75 flex-grow-1 align-self-center d-flex flex-column justify-content-center align-items-center">
                            <canvas #receiveChart></canvas>
                            <div class="no-data-message" *ngIf="!hasChartData">
                                Você ainda não possui ações
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex col-6">
                    <div class="row d-flex w-100 h-100 align-items-center">
                        <span class="w-100 text-center mat-title text-primary" style="height: 30px">Gastos</span>
                        <div class="chart-container w-50 h-75 flex-grow-1 align-self-center d-flex flex-column justify-content-center align-items-center">
                            <canvas #expenseChart></canvas>
                            <div class="no-data-message" *ngIf="!hasChartData">
                                Você ainda não possui ações
                            </div>
                        </div>
                        <div class="w-50 h-75 align-self-center mat-subheading-2 flex-grow-1 d-flex flex-column justify-content-center">
                            <div *ngFor="let category of categoryExpenseList" class="my-1 d-flex justify-content-end">
                                <div>
                                    {{category.name}}
                                </div>
                                <div class="d-flex justify-content-center align-items-center">
                                    <span class="legend-color mr-0 ml-2" [ngStyle]="{'background-color': getColorForCategory(category)}"></span>
                                </div>
                            </div>                         
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card col-3 ml-3 mb-0">
            <div class="card-body">
                <div class="table-responsive" *ngIf="categoryList.length > 0">
                    <h4 class="text-primary mat-headline">Informações Relevantes no Mês</h4>
                    <p>Aqui deve ter informações do tipo: esse mês você paga a ultima parcela de x</p>
                    <p>Você receberá x de dividendos</p>
                </div>
            </div>
        </div>
    </div>
</div>
