
.legend li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.legend-color {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
}

.cursor-pointer {
    cursor: pointer;
}

.space-between {
    display: flex;
    justify-content: space-between;
}