<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <div class="d-flex">
                            <div class="col-6">
                                <h4 class="card-title ">Gerenciar Patrimônio</h4>
                                <p class="card-category">Entrada e saída de capital</p>
                            </div>
                            <div class="col-6 d-flex justify-content-end align-items-center">
                                <button mat-icon-button (click)="addRow()">
                                    <mat-icon>add</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <mat-tab-group (selectedTabChange)="onTabChanged($event)">
                                <mat-tab *ngFor="let categoryType of categoryTypes" [label]="categoryType"
                                    (click)="changeType(categoryType)">
                                    <table class="table">
                                        <thead class="text-bold">
                                            <th>Data</th>
                                            <th>Nome</th>
                                            <th>Classe</th>
                                            <th>Parcelas</th>
                                            <th>Valor</th>
                                            <th style="width: 100px"></th>
                                        </thead>
                                        <tbody>
                                            <ng-container *ngFor="let asset of assets">
                                                <tr *ngIf="asset.type === categoryType">
                                                    <td *ngIf="!asset.editMode">{{ asset.date | date:'dd/MM/yyyy' }}
                                                    </td>
                                                    <td *ngIf="asset.editMode">
                                                        <mat-form-field appearance="fill">
                                                            <mat-label>Data</mat-label> <!---->
                                                            <input matInput [matDatepicker]="picker"
                                                                [(ngModel)]="asset.date">
                                                            <mat-datepicker-toggle matSuffix
                                                                [for]="picker"></mat-datepicker-toggle>
                                                            <mat-datepicker #picker></mat-datepicker>
                                                        </mat-form-field>
                                                    </td>

                                                    <td *ngIf="!asset.editMode">{{ asset.name }}</td>
                                                    <td *ngIf="asset.editMode">
                                                        <mat-form-field appearance="fill">
                                                            <mat-label>Nome</mat-label>
                                                            <input matInput [(ngModel)]="asset.name">
                                                        </mat-form-field>
                                                    </td>

                                                    <td *ngIf="!asset.editMode">{{ asset.class }}</td>
                                                    <td *ngIf="asset.editMode">
                                                        <mat-form-field appearance="fill">
                                                            <mat-label>Classe</mat-label>
                                                            <mat-select [(value)]="asset.class">
                                                                <mat-option *ngFor="let assetType of assetTypes"
                                                                    [value]="assetType">{{ assetType }}</mat-option>
                                                            </mat-select>
                                                        </mat-form-field>
                                                    </td>

                                                    <td *ngIf="!asset.editMode">{{ asset.installments }}</td>
                                                    <td *ngIf="asset.editMode">
                                                        <mat-form-field appearance="fill">
                                                            <mat-label>Parcelas</mat-label>
                                                            <input matInput [(ngModel)]="asset.installments">
                                                        </mat-form-field>
                                                    </td>

                                                    <td *ngIf="!asset.editMode">{{ asset.amount | currencyValue }}</td>
                                                    <td *ngIf="asset.editMode">
                                                        <mat-form-field appearance="fill">
                                                            <mat-label>Valor</mat-label>
                                                            <input matInput [(ngModel)]="asset.amount">
                                                        </mat-form-field>
                                                    </td>

                                                    <td *ngIf="!asset.editMode">
                                                        <button mat-icon-button (click)="editRow(asset)">
                                                            <mat-icon class="icon-font text-warning">edit</mat-icon>
                                                        </button>
                                                        <button mat-icon-button (click)="deleteRow(asset)">
                                                            <mat-icon class="icon-font text-danger">delete</mat-icon>
                                                        </button>
                                                    </td>
                                                    <td *ngIf="asset.editMode">
                                                        <button mat-icon-button (click)="saveRow(asset)">
                                                            <mat-icon class="icon-font text-success">check</mat-icon>
                                                        </button>
                                                        <button mat-icon-button (click)="cancelEdit(asset)">
                                                            <mat-icon class="icon-font text-danger">close</mat-icon>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </ng-container>
                                        </tbody>
                                    </table>
                                </mat-tab>
                            </mat-tab-group>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>