.icon-font{
    font-size: 20px;
}

.currency-prefix {
    display: inline-block; /* Define como um elemento em bloco para ajustar a margem */
    vertical-align: middle; /* Alinha verticalmente ao centro */
    margin-right: 8px; /* Ajusta a margem direita para alinhar com o campo de entrada */
}  

::ng-deep .custom-snackbar {
    background-color: rgb(208, 100, 100) !important;
    color: white !important;
}

::ng-deep .custom-snackbar .mat-simple-snackbar-action {
    color: white !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-prefix,
.mat-form-field-appearance-outline .mat-form-field-suffix {
  top: unset !important;
}
