.icon-font {
    font-size: 20px;
}

.currency-prefix {
    display: inline-block;
    /* Define como um elemento em bloco para ajustar a margem */
    vertical-align: middle;
    /* Alinha verticalmente ao centro */
    margin-right: 8px;
    /* Ajusta a margem direita para alinhar com o campo de entrada */
}

::ng-deep .custom-snackbar {
    background-color: rgb(208, 100, 100) !important;
    color: white !important;
}

::ng-deep .custom-snackbar .mat-simple-snackbar-action {
    color: white !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-prefix,
.mat-form-field-appearance-outline .mat-form-field-suffix {
    top: unset !important;
}

::ng-deep .mat-form-field.date-picker>.mat-form-field-wrapper>.mat-form-field-flex {
    padding-top: 0.75rem;
}

mat-button-toggle-group {
    margin-left: 12px;
}

.my-chart {
    width: 100% !important;
    height: 100% !important;
    display: block;
}

.selected {
    background-color: rgba(79, 177, 79, 0.8);
    color: white;
    margin: 0rem 1rem;
    border: 1px solid rgba(79, 177, 79, 0.8);
}

.not-selected {
    background-color: white;
    color: black;
    margin: 0rem 1rem;
    border: 1px solid rgba(144, 238, 144, 1);
}